body {
  font-family: "Courier New", Courier, monospace;
  /* font-family: "VT323", monospace; */
  text-align: justify;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
}
table {
  border-spacing: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: super;
}
img {
  width: 100%;
}
h1,
p {
  width: 50%;
  margin-left: 25%;
}
th {
  background-color: goldenrod;
}
h1 {
  background-color: goldenrod;
}
button {
  width: 15%;
  font-size: larger;
  text-align: center;
  margin-left: 60%;
  margin-top: 10px;
}
canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
